defaults
auth           on
tls            on
tls_trust_file /etc/ssl/certs/ca-certificates.crt
logfile        /var/log/msmtp.log

account        gmail
host           smtp.gmail.com
port           587
from           ${SMTP_USER}
user           ${SMTP_USER}
password       ${SMTP_PASS}

account default : gmail
